// @import '~antd/es/style/themes/default.less';

.dropdown_container:not(.ant-dropdown-arrow) {
	background-color: @popover-bg;
	border-radius: 4px;
	box-shadow: @shadow-1-down;
}

@media screen and (max-width: @screen-xs) {
	.dropdown_container {
		width: 100% !important;
	}

	.dropdown_container>* {
		border-radius: 0 !important;
	}
}